{% extends "base.html" %}
{% block content %}
    <article>
        <div class="input-group">
            <div class="mr-auto">
                <h1>News from the Geeks!</h1>
            </div>
            <div class="col-auto">
                <a href="/new_post" class="btn btn-outline-success">New Post</a>
            </div>
        </div>
        <div class="news">
            {% for post in posts.items %}
                {% if not post.private %}
                    <a href="post/{{ post.id }}">
                    <div class="card" style="width: 60rem;">
                        <div class="card-body">
                            <h5 class="card-title"> {{ post.title }}</h5>
                            <h6 class="subtitle mb-2 text-muted">-{{post.author.username}}</h6>
                            {% for content in post.content.split('\n')  %}
                                {% if loop.index < 5 %}
                                    <p class="card-text">{{ content }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
                    </a>
    </article>

    <div class="paginator">
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if posts.page == page_num %}
                    <a class="btn btn-dark mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-dark mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}

        {% endfor %}
    </div>

{% endblock %}